extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-indigo
                h1 Index Servidor arquivo sonoro
            .w3-container
                h2 Para utilizar: 
                ul
                    li requisitar documentos através do url;
                    li /musica/X
                    li X = número documento
            footer.w3-container.w3-indigo
                address Gerado por servidor arquivo sonoro
