extends layout

block content
    h2.w3-green Dashboard administrator @ ISN 
    table.w3-table-all
        tr
            th Username
            th Mail
            th Course
            th Type
            th 
        each u in dados
            tr
              td= u.username
              td= u.mail
              td= u.course
              td= u.type
              td 
                 a.w3-button.w3-green(href="/details/"+u._id) User Details