extends layout

block content
  div(style="display:flex;flex-direction:column;min-height:100vh")
    .w3-container.w3-green
      h2(style='margin-left:450px') Informatics Social Network - University of Minho 
      .w3-third
        form.w3-form(action="/login" method="POST")
          label.w3-label E-mail:
          input.w3-input.w3-border(type="text" name="mail") 
          br
          label.w3-label Password:
          input.w3-input(type="password" name="password")
          br
          input.w3-input(type="submit" value="Aceder")
        a.w3-button.w3-light-grey(href="/register") Registar
  .w3-container.w3-green(style="flex:1;")
  footer.w3-footer.w3-green
    address ISN Henrique e Maria
    
